---
# Bazujemy na oficjalnym, czystym standardzie LLVM/Microsoft
BasedOnStyle: Microsoft

# Ujednolicenie wciec (Rozmiar tabulacji i wciecia na 4 spacje)
TabWidth: 4
IndentWidth: 4
UseTab: Never # Zamienia tabulatory na spacje (bardzo polecane dla spojnosci)

# Konstrukcje: Gdzie maja byc klamry {}
# Allman oznacza, ze klamry dla klas, funkcji i "if-ow" zawsze laduja w nowej linii
BreakBeforeBraces: Allman

# Konstrukcje: Spacje wokol operatorow i nawiasow
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements # spacja po 'if', 'while', 'switch'
SpaceInEmptyParentheses: false
SpacesInAngles: false # brak spacji w <vector>

# Konstrukcje: Automatyczne wyrownywanie gwiazdek/referencji przy typach
PointerAlignment: Left # Zapisuje jako 'const Board& board' a nie 'Board &board'

# Maksymalna dlugosc linii kodu zanim formater sam ja zawinie
ColumnLimit: 100
